# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project

# Logs
*.log
win-auth-tester.log

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
!maven-wrapper.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*
